@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Black.ttf);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Urbanist;
    src: url(../fonts/Urbanist-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Urbanist;
    src: url(../fonts/Urbanist-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}